.button{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #0B0E2D;

    border: 2px solid #E3E7F1;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;

    background: #fff;
    cursor: pointer;
    &:hover{
        color: #4E94CA;
        border: 2px solid #4E94CA;
    }
    &:focus{
        outline: none;
    }
}
.button-blue{
    background: #4E94CA;
    color: #fff;
    border: 0;
    &:hover{
        color: #fff;
        background: #3783BD;;
    }
    &:focus{
        outline: none;
    }
}