.companies{
    width: calc(100% - 240px);
    min-height: 100vh;
    padding: 56px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background: #E3E7F1;
    float: right;

    &__paginate{
        width: 100%;
        height: 82px;
        border-top: 2px solid #F0F2F7;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-link{
            color: #0B0E2D;
            display: block;
            margin: 0 4px;
        }
        &-arrows{
            width: 11px;
            height: 11px;
            
        }
        .arrow-for-left{
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }
        .arrow-no-way{
            opacity: .3;
        }
        &-item, &-item-active{
            width: 32px;
            height: 32px;
            background: #fff;
            border-radius: 4px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            border: 1px solid #E3E7F1;
            align-items: center;

           
            font-size: 14px;
            line-height: 16px;

            color: #0B0E2D;
        }
        &-item-active{
            background: #E3E7F1;
        }
    }

    &__help-panel{
        width: 100%;
        height: 48px;
        background: #fff;
        border-radius: 8px;
        margin-top: 20px;
        &-date{
            width: 252px;
            padding-right: 52px;
            height: 48px;
            box-sizing: border-box;
            border-right: 2px solid #F0F2F7;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            display: flex;
            align-items: center;
            float: left;
            justify-content: center;

            color: #0F1546;
            position: relative;
        }
        &-all-points{
            width: calc(100% - 252px);
            height: 48px;

            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;

            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 24px;
            box-sizing: border-box;

            color: #0F1546;
        }
        &-btn-all{
            cursor: pointer; 
            outline: none;
            border: 0;
            background: none;
            padding: 0;
            width: 48px;
            height: 48px;
            margin-right: 5px;
        }
        &-img{
            transform: rotate(180deg);
        }
        &-ico{
            position: absolute;
            right: 15px;

        }
    }
    &__head-panel{
        width: 100%;
        height: 40px;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;
        &-toplink{
            position: absolute;
            top: -20px;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
        }
        &-outlink{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;

            color: #4E94CA;
        }
        &-title{
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;

            color: #0B0E2D;
        }
        &-controls{   
            height: 40px;
            display: flex;
            justify-content: center;
        }
        &-link{
            height: 40px;
            display: flex;
            align-items: center;
            color: #4E94CA;

            margin-left: 40px;

            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            &:last-child{
                pointer-events: none;
            }
            &:hover{
                text-decoration: underline;
            }
        }
        &-profile-container{

            height: 40px;
        }
        &-profile{
            background: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            outline: none;
            font-size: 14px;
            font-weight: 500;
            padding: 0 0 0 10px;
            cursor: pointer;
            &:hover .companies__head-panel-avatar{
                border: 2px solid #BBDDFC;
            }
            &:focus{
                outline: 0;
            }
        }
        .active{
            color: #4E94CA;
            .companies__head-panel-avatar{
                border: 2px solid #4E94CA;
            }
        }
        &-avatar{
            width: 40px;
            height: 40px;
            border: 2px solid #E3E7F1;
            box-sizing: border-box;
            border-radius: 50%;
            margin-left: 5px;
            overflow: hidden;
            position: relative;
            &-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                left: 0;
            }
        }
        &-more{
            width: 16px;
            height: 16px;
            margin: 10px 0 10px 6px;
            transform: matrix(1, 0, 0, -1, 0, 0);
            cursor: pointer;

        }
        &-dropdown-holder{
            position: relative;
        }
        &-menu-dropdown{
            width: 228px;
            height: 136px;
            position: absolute;
            right: 0;
            bottom: -150px;
            display: none;
            z-index: 10;

            background: #FFFFFF;

            box-shadow: 0px 8px 25px rgba(15, 21, 70, 0.15);
            border-radius: 8px;
            overflow: hidden;
            &-item{
                width: 100%;
                height: 45px;
                display: block;
                position: relative;
            }
            &-link{
                color: #0B0E2D;
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 20px;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                &:hover{
                    color: #4E94CA;;
                    text-decoration: none;
                }
            }
            &-ico{
                width: 20px;
                height: 20px;
                margin: 5px 10px;
                float: left;
            }
        }
    }
    &__finder{
        width: 100%;
        height: 48px;
        margin-top: 30px;
        position: relative;
        &-button{
            width: 50px;
            height: 50px;
            background: none;
            border: 0;
            position: absolute;
        }
        &-input{
            padding: 0 0 0 48px;
            width: calc(100% - 48px);
            box-sizing: unset;
            height: 48px;

            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            &::placeholder{
                color: #9BA6BC;
            }
            /* identical to box height, or 154% */

            display: flex;
            align-items: center;
        }
        &-ico{
            position: absolute;
            top: 12px;
            left: 12px;
        }
    }
    .finder-inactive{
        opacity: 0.5;
    }
    &__content{
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        &-notaompl-alert{
            width: 100px;
            height: 20px;
            background: #FF4D57;
            border-radius: 4px;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #FFFFFF;
            top: 18px;
            left: 18px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
        }
        &-add-btn{
            background: none;
            border: 0;
            cursor: pointer;
            outline: none;
            &:focus{
                outline: none;
            }
        }
        &-nocompanies{
            width: 100%;
            height: calc(100vh - 220px);
            display: flex;
            align-items: center;
            justify-content: center;
            &-title{
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;

                text-align: center;

                color: #0B0E2D
            }
            &-btnholder{
                width: 100%;
                margin-top: 16px;
                display: flex;
                justify-content: center;
            }
            &-btn, &-btn--wider{
                width: 200px;
                height: 40px;
            }
            &-btn--wider{
                width: 232px;
            }
        }
        .notcompl{
            border: 2px solid #FF4D57;;
        }
        &-item, &-item--smaller{
            width: 32%;
            height: 320px;
            background: #FFFFFF;
            border-radius: 8px;
            margin-right: 2%;
            margin-bottom: 20px;
            position: relative;
            box-sizing: border-box;
            &:nth-child(3n){
                margin-right: 0;
            }
        }
        &-item--smaller{
            width: 24%;
            margin-right: 1%;
            &:nth-child(3n){
                margin-right: 1%;
            }
            &:nth-child(4n){
                margin-right: 0;
            }
        }
        &-add{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
        &-add-img{
            margin: 0 auto;
        }
        &-add-window{
            width: 200px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &-add-window--smaller{
            width: 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }
        &-text{
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            /* identical to box height, or 154% */

            display: flex;
            align-items: center;
            text-align: center;

            /* Primary / Black */

            color: #0B0E2D;
        }
        &-avatar{
            width: 100%;
            height: 154px;
            border-bottom: 2px solid #E3E7F1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &-default-img{
            width: auto;
            margin: 0 auto;
        }
        &-info{
            width: calc(100% - 48px);
            padding: 24px;
            height: 66px;
            box-sizing: unset;
            &-title{
                margin: 0;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
            }
            &-text{
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: #0B0E2D;
                opacity: 0.5;
            }
        }
        &-footer{
            width: 100%;
            padding: 14px 24px;
            position: relative;
            box-sizing: border-box;
            &-link{
                width: calc(100% - 40px);
            }
            &-litem, &-litem--notcompl, &-litem--blue{
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 20px;
                margin-right: 10px;
                color: #9BA6BC;
                &:hover{
                    text-decoration: underline;
                }
                &-new{
                    color: #4E94CA;
                }
            }
            &-litem--blue{
                color: #4E94CA;
            }
            &-litem--notcompl{
                color: #E3E7F1;
                cursor: default;
                &:hover{
                    text-decoration: none;
                }
            }
            &-more{
                cursor: pointer;
            }
            &-btn{
                width: 25px;
                height: 25px;
                background: none;
                padding: 0;
                border: 0;
                border-radius: 4px;
                outline: none;
                position: absolute;
                right: 16px;
                top: 12px;
                &:focus{
                    outline: none;
                }
            }
            .active{
                background-color: #F0F2F7;;
            }
            &-dropmenu{
                background: #FFFFFF;
                position: absolute;
                min-width: 220px;
                display: none;
                right: 44px;
                bottom: 40px;
                box-shadow: 0px 8px 25px rgba(15, 21, 70, 0.15);
                border-radius: 8px;
            }
            &-dropitem{
                display: block;
                width: 100%;
                height: 45px;
            }
            &-droplink{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 20px;
                color: #0B0E2D;
                background: none;
                border: 0;
                padding: 0;
                cursor: pointer;
                &:focus{
                    outline: none;
                }
                outline: none;
                &:hover{
                    color: #4E94CA;
                }
            }
            &-dropico{
                width: 20px;
                height: 20px;
                margin: 0 8px 0 13px;
                svg{
                    use{

                        #template{
                            path{
                                fill: green;
                            }
                        }   
                    }
                }
            }
        }
    }

    &__table{
        border-radius: 8px;
        width: 100% !important;
        background: #fff;
        font-family: 'Montserrat';
        margin-top: 20px;
        &-link-kt, &-link-kinfo{
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 176px;
        }
        &-red-line{
            width: 2px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: #EB5757;
        }
        &-btn-clip{
            outline: none;
            border: 0;
            background: none;
            cursor: pointer;
            transform: rotate(90deg);
            &:focus{
                outline: none;
            }
        }
        &-redmark{
            color: #EB5757;

        }
        table{
            width: 100%;
            border-collapse: collapse;
            thead{
                padding: 10px 0;
                height: 40px;
                
                tr{
                    th{
                        font-style: normal;
                        font-weight: 500;
                        font-size: 13px;
                        text-align: left;
                        line-height: 20px;
                        color: #0B0E2D;
                        opacity: 0.5;
                        height: 40px;
                        line-height: 40px;
                        &:first-child{
                            text-align: center;
                        }
                        &:nth-child(2){
                            font-weight: bold;
                            opacity: 1;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        height: 48px;
                        text-align: left;
                        color: #0B0E2D;
                        font-style: normal;
                        padding: 0;
                        font-weight: 500;
                        font-size: 13px;
                        position: relative;
                        line-height: 20px;
                        border-top: 2px solid #F0F2F7;
                        a{
                            color: #4E94CA;
                            text-decoration: none;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        &:first-child{
                            opacity: 0.5;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 1230px) {
    .companies{
        &__content{
            &-item--smaller{
                width: 32%;
                margin-right: 2%;
                margin-bottom: 20px;
                &:nth-child(3n){
                    margin-right: 0;
                }
                &:nth-child(4n){
                    margin-right: 2%;
                }
            }
        }
        &__table{
            table{
                thead{
                    tr{
                        th{
                            font-size: 10px;
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 1030px) {
    .companies{
        &__content{
            &-item--smaller{
                width: 48%;
                margin-right: 2%;
                margin-bottom: 20px;
                &:nth-child(2n){
                    margin-right: 0;
                }
                &:nth-child(3n){
                    margin-right: 2%;
                }
                &:nth-child(4n){
                    margin-right: 2%;
                }
            }
        }
    }
}




@media (max-width: 830px) {
    .companies{
        &__head-panel{
            height: unset;
            &-title{
                line-height: 16px;
            }
            &-link{
                line-height: 16px;
            }
            &-controls{
                height: unset;
            }
        }
        &__content{
            &-item--smaller{
                width: 100%;
                margin: 0 0 20px 0;
                &:nth-child(2n){
                    margin-right: 0;
                }
                &:nth-child(3n){
                    margin-right: 0%;
                }
                &:nth-child(4n){
                    margin-right: 0%;
                }
            }
        }
    }
}





@media (max-width: 930px) {
    .companies{
        width: 100%;
        &__head-panel{
            font-size: 12px;
            &-title{
                font-size: 14px;
            }
            &-link{
                font-size: 12px;
                margin: 0;
            }
            &-profile{
                font-size: 12px;
            }
        }
        &__content{
            &-footer{
                padding: 15px 0 15px 10px;
                &-litem, &-litem--notcompl{
                    font-size: 11px;
                }
            }
            &-info{
                padding: 10px;
                width: 100%;
                height: 114px;
                box-sizing: border-box;
            }
        }
    }
}



@media (max-width: 1180px) {
    .companies{
        &__content{
            &-item{
                width: 48%;
                margin-right: 4%;
                margin-bottom: 20px;
                &:nth-child(3n){
                    margin-right: 4%;
                }
                &:nth-child(2n){
                    margin-right: 0%;
                }
            }
            &-footer-litem, &-footer-litem--blue{
                font-size: 10px;
            }
        }
    }
}




@media (max-width: 582px) {
    .companies{
        padding: 10px;
        &__head-panel{
            height: unset;
            flex-direction: column;
            background-color: #fff;
            border-radius: 8px;
            padding: 12px 0;
            &-toplink{
                position: relative;
                top: 0;
                width: 80%;
                text-align: center;
            }
            &-controls{
                flex-direction: column;
                height: unset;
            }
            &-link{
                justify-content: center;
            }
        }
        &__content{
            &-item, &-item--smaller{
                width: 100%;
                margin: 0 0 10px 0;
                &:nth-child(3n)  {
                    margin-right: 0;
                }
            }
        }
    }
}