.mobile{
    &__head{
        width: 100%;
        background: #F0F2F7;
        display: inline-block;
        &-name{
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;

            color: #0B0E2D;
        }
        &-vacancy{
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            margin-top: 4px;
            color: #9BA6BC;
        }
        &-profile{
            width: calc(100% - 30px);
            height: 124px;
            background: #fff;
            box-shadow: 0px 8px 16px rgba(15, 21, 70, 0.1);
            border-radius: 8px;
            margin: 24px auto -62px;
            box-sizing: border-box;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            z-index: 10;

        }
        &-info{
            width: calc(100% - 60px);
        }
        &-avatar{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            &-image{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-title{
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            padding: 16px 0;

            text-align: center;

            color: #0B0E2D;
        }
        &-logo{
            width: 128px;
            height: 128px;
            border-radius: 50%;
            margin: 16px auto;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }
        &-name-kt{
            width: 100%;
            text-align: center;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */


            /* Primary / Black */

            color: #0B0E2D;
        }
        &-light-text{
            width: 100%;
            text-align: center;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #9BA6BC;
        }
        &-btn{
            background: none;
            display: flex;
            align-items: center;
            outline: none;
            border: 0;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            margin-top: 10px;
            padding: 0;
            &:focus{
                outline: none;
            }

            display: flex;
            align-items: center;
            text-align: center;


            color: #0B0E2D;
        }
        &-dialog-ico{
            margin-right: 6px;
        }
    }

    &__attachment{
        width: 100%;
        background: #fff;
        margin-top: 90px;
        box-sizing: border-box;
        padding: 0 15px 20px 15px;
        border-bottom: 2px solid #F0F2F7;
        text-decoration: none;
        &-elem-holder{
            &:last-child{
                border-bottom: 0;
            }
        }
        &-head{
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;

            color: #0B0E2D;
        }
        &-btn{
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            height: 40px;
            padding: 0 10px;
            margin-right: 4px;

            display: flex;
            align-items: center;
            text-align: center;

            color: #0B0E2D;
            &:focus, &:hover{
                text-decoration: none;
            }
        }
        &-buttons{
            width: 100%;
            margin-top: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            progress{
                display: none;
            }
        }

        &-element{
            width: 100%;
            height: 40px;
            padding: 16px 0;
            box-sizing: unset;
            border-bottom: 2px solid #F0F2F7;
            &:last-child{
                border-bottom: 0;
            }
            audio{
                display: none;
            }
        }
        &-scetch{
            width: 40px;
            height: 40px;
            float: left;
            position: relative;
            border-radius: 4px;
            overflow: hidden;
            &-ico{
                width: 24px;
                height: 24px;
                margin: 8px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }
            &-picture{
                width: 40px;
                height: 40px;
                display: block;
                object-fit: cover;
            }
        }
        &-thing{
            width: calc(100% - 74px);
            height: 40px;
            display: flex;
            flex-direction: column;
            padding-left: 15px;
            justify-content: center;
            align-items: left;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            float: left;
            box-sizing: unset;

            color: #0B0E2D;
        }
        &-time{
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;

            color: #9BA6BC;
        }
        &-close{
            width: 14px;
            height: 40px;
            background: none;
            border: 0;
            outline: none;
            position: relative;
            margin: 0;
            padding: 0;
            float: left;
            &:focus{
                outline: none;
            }
            &-cross{
                position: absolute;
                width: 14px;
                height: 14px;
                top: 10px;
                display: block;
                &:hover {
                    opacity: 1;
                }
                &:before, &:after {
                    position: absolute;
                    content: ' ';
                    height: 18px;
                    width: 2px;
                    background-color:  rgb(155, 155, 155);
                }
                &:before {
                    transform: rotate(45deg);
                }
                &:after {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    &__mark{
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
        border-bottom: 2px solid #F0F2F7;
        &-text{
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            margin-top: 20px;

            color: #0B0E2D;
        }
    }

    &__textarea-holder{
        width: 100%;
        padding: 0;
    }

    &__textarea{
        width: 100%;
        height: 84px;
        padding: 12px 16px;
        box-sizing: border-box;
        resize: none;
        border-radius: 8px;
        border: 0;
        background: #F0F2F7;
        outline: none;

        &:focus{
            outline: none;
        }

        &::-webkit-input-placeholder{ 

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
        }
        &::-moz-placeholder{ 

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
        }
        &:-moz-placeholder{

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
        } 
        &:-ms-input-placeholder{

            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
        }
    }

    &__stars{
        width: 100%;
        height: 50px;
        margin: 10px 0;
        display: flex;
        justify-content: flex-end;
        direction: rtl;
        position: relative;
        padding-left: 10px;
        box-sizing: border-box;
        &-rate-number{
            position: absolute;
            right: 0;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            height: 16px;
            margin-top: 24px;

            color: #9BA6BC;
        }
        label{
            width: 38px;
            margin-right: 16px;
            position: relative;
            &:before{
                content: "★";
                position: absolute;
                top: 0;
                left: 0;
                width: 38px;
                height: 50px;
                line-height: 50px;
                font-size: 50px;
            }
        }
    }

    &__userinfo{
        width: 100%;
        &-holder{
            width: 100%;
            border-bottom: 2px solid #F0F2F7;
            padding: 15px;
            box-sizing: border-box;
        }
        &-input-holder{
            width: 100%;
            margin: 16px 0;
            label{
                width: 100%;
                position: relative;
            }
            input{
                width: 100%;
                padding: 10px 16px;
                box-sizing: border-box;
                outline: none;
                border-radius: 8px;
                border: 0;
                background: #F0F2F7;
                &:-webkit-autofill {
                    -webkit-box-shadow: inset 0 0 0 50px #f0f2f7 !important; /* Цвет фона */
                    box-shadow: inset 0 0 0 50px #f0f2f7 !important; /* Цвет фона */
                }
                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus,
                &:-webkit-autofill:active  {
                    -webkit-box-shadow: inset 0 0 0 50px #f0f2f7 !important;
                    box-shadow: inset 0 0 0 50px #f0f2f7 !important; /* Цвет фона */
                    background-color: #f0f2f7 !important;
                    background-clip: content-box !important;
                }
                &:focus{
                    outline: none;
                }
            }

            input[type=radio] {
                display:none; 
                margin:10px;
            }
            
            input[type=radio] + label {
                display:inline-block;
                margin:-2px;
                padding: 10px 12px;
                width: calc(100%/2);
                background-color: #fff;
                color: #000;
                box-sizing: border-box;
                border-color: #ddd;
                text-align: center;
                border: 2px solid #F0F2F7;


                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 20px;
                text-align: center;

                color: #0B0E2D;
                &:nth-child(2){
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                }
                &:last-child{
                    border-left: 0;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
            }

            
            input[type=radio]:checked + label { 
                background-image: none;
                background-color: #F0F2F7;
            }

            input[type=date]{
                position: absolute;
                &::-webkit-calendar-picker-indicator{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    opacity: 0;
                }
            }
        }
        
        &-hidden-input{
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
    }
    &__agreement{
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        padding: 16px 0;

        text-align: center;
        &-link{
            color: #4E94CA;
        }
    }
    &__send-btn{
        width: 80%;
        margin: 0 10%;
        height: 48px;
    }
    &__footer-image{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__footer-img{
        width: 131px;
        height: 32px;
        margin-bottom: 40px;
    }
    &__nps-rate{
        width: 100%;
        label{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 10px;
        }
        &-item{
            &:not(:checked) > span {
                width: 24px;
                height: 24px;
                border-radius: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                border: 1px solid #E3E7F1;
                box-sizing: border-box;
                cursor: pointer;
                font-size: 14px;
                line-height: 24px;
                margin-right: 6px;
                color: #0B0E2D;
            }
            &:not(:checked) input {
                display: inline-block;
                opacity: 0;
                width: 24px;
                height: 24px;
                margin: 0;
                position: absolute;
            }
            & input:checked + span {
                background-color: gold;
            }
        }
    }
    &__send{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        display: flex;
        align-items: center;
        &-review{
            width: 100%;
        }
        &-header{
            width: 100%;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            color: #0B0E2D;
            box-sizing: border-box;
            padding: 0 16px;
        }
        &-text{
            width: 100%;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            padding: 0 16px;
            margin-top: 22px;
            box-sizing: border-box;
            text-align: center;
            color: #0B0E2D;
        }
        &-link{
            width: 290px;
            height: 48px;
            margin: 0 auto;
            background: #4E94CA;
            border-radius: 8px;
            box-sizing: border-box;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            margin-top: 24px;

            display: flex;
            align-items: center;
            justify-content: center;


            color: #FFFFFF;
            
        }
        &-footer{
            width: 100%;
            height: 100px;
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            &-ico{
                width: 131px;
                height: 32px;
            }
        }
    }

    &__fill-header{
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        margin-top: 30px;
        box-sizing: border-box;
        padding: 0 15px;
        width: 100%;
        color: #0B0E2D;
    }
    &__form{
        width: 100%;
        padding: 20px 15px;
        box-sizing: border-box;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-title{
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            
            color: #0B0E2D;
        }
        &-link{
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
            text-decoration: none;            
            color: #4E94CA;
            &:hover{
                text-decoration: none;
            }
        }
        &-button{
            background: #4E94CA;
            border-radius: 8px;
            width: 290px;
            border: 0;
            outline: none;
            height: 48px;
            margin: 30px auto;

            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;

            display: flex;
            align-items: center;
            justify-content: center;

            color: #FFFFFF;
            &:focus{
                outline: none;
            }
        }
        &-footer{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            &-ico{
                width: 131px;
                height: 32px;
            }
        }
        &-itemquest{
            width: calc(100% - 32px);
            margin: 0 16px;
            padding-bottom: 24px;
            border-bottom: 2px solid #F0F2F7;
            &:last-child{
                border: 0;
            }
        }
        &-parag{
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
            /* identical to box height, or 154% */


            /* Primary / Black */

            color: #0B0E2D;
        }
        &-type-quest, &-quest, &-answer{
            width: 100%;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
            margin-top: 12px;
            margin-bottom: 0;
            color: #0B0E2D !important;
        }
        &-textarea{
            width: 100%;
            box-sizing: border-box;
            height: 100px;
            resize: none;
            margin-top: 10px;

            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;

            display: flex;
            align-items: center;
            outline: none;
            border: 0;

            background: #F0F2F7;    
            border-radius: 8px;
            padding: 10px 16px;
            &:focus{
                background: #F0F2F7; 
                border: 0;
                outline: 0;
                box-shadow: none;
                outline: none;
            }
            color: #0B0E2D;
        }
        &-radioitem{
            width: 100%;
            margin-top: 12px;
            div input[type=radio]{
                position: relative;
                top: 4px;
                width: 16px;
                height: 16px;
            }
            div input[type=radio]{
                &::before{
                    content: '';
                    position: absolute;
                    border-radius: 8px;
                    width: 16px;
                    top: 0px;
                    left: 0px;
                    height: 16px;
                    border: 2px solid #E3E7F1;
                    background: #fff;
                    box-sizing: border-box;
                    z-index: 2 ;
                    -webkit-box-shadow: 0px 0px 0px 4px rgba(255,255,255,1);
                    -moz-box-shadow: 0px 0px 0px 4px rgba(255,255,255,1);
                    box-shadow: 0px 0px 0px 4px rgba(255,255,255,1);
                }
            }
            div input[type=radio]:checked{
                &::after{
                    content: '';
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background: #4E94CA;
                    border-radius: 4px;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    z-index: 3;
                }
            }
            label{
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 20px;
                color: #0B0E2D;
            }
        }

        &-stars{
            height: 24px;
            width: 100%;
            margin-top: 10px;
            display: flex;
            direction: rtl;
            justify-content: flex-end;
            position: relative;
            label{
                width: 24px;
                margin-right: 4px;
                position: relative;
                &:before{
                    content: "★";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    font-size: 28px;
                    text-align: center;
                }
            }
        }

        &-checklist{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            &-item{
                width: 100%;
                margin-top: 12px;
            }
            input[type=checkbox]{
                position: relative;
                top: 4px;
                width: 16px;
                height: 16px;
                margin-right: 10px;
                &::before{
                    content: '';
                    position: absolute;
                    width: 16px;
                    top: 0px;
                    left: 0px;
                    -webkit-box-shadow: 0px 0px 0px 4px rgba(255,255,255,1);
                    -moz-box-shadow: 0px 0px 0px 4px rgba(255,255,255,1);
                    box-shadow: 0px 0px 0px 4px rgba(255,255,255,1);
                    height: 16px;
                    border: 2px solid #E3E7F1;
                    background: #fff;
                    box-sizing: border-box;
                    z-index: 2;
                }
                &:checked::after{
                    content: '';
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background: #4E94CA;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    z-index: 3;
                }
            }
            label{
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 20px;

                color: #0B0E2D;
            }
        }
    }

    &__record{
        user-select: none;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        &-btn-back{
            width: 100%;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-bottom: 1px solid #E3E7F1;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
            top: 0;
            position: absolute;
            color: #0B0E2D;
            background: #fff;
            z-index: 100;
            text-decoration: none;
            &-ico{
                width: 24px;
                height: 24px;
                margin: 12px 27px 12px 12px;
                float: left;
            }
        }
        &-window{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-content-holder, &-ico-holder, &-form-holder, &-player-holder{
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
        }
        &-player-holder{
            display: none;
            audio{
                visibility: hidden;
                position: absolute;
                z-index: 0;
            }
        }
        &-player{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            &-central{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &-play-btn{
            width: 44px;
            height: 44px;
            background: none;
            box-sizing: unset;
            margin-right: 15px;
            padding: 0;
            border: 0;
            float: left;
            &-ico{
                width: 44px;
                height: 44px;
            }
        }
        &-timer{
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 64px;

            color: #0B0E2D;
        }
        &-player-line{
            width: 190px;
            height: 4px;
            margin-top: 20px;
            border-radius: 2px;
            background: #9BA6BC;
            position: relative;
            &-back{
                width: 90px;
                height: 4px;
                border-radius: 2px;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #4E94CA;
            }
            &-pointer{
                width: 16px;
                height: 16px;
                display: block;
                border-radius: 8px;
                background: #ffffff;
                position: relative;
                box-sizing: border-box;
                border: 4px solid #4E94CA;
                position: absolute;
                top: -6px;
                left: 82px;
            }
        }

        &-ico-holder{
            z-index: 1;
            display: none;
        }
        &-text{
            width: 100%;
            padding: 0 15px;
            box-sizing: border-box;

            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;

            text-align: center;

            color: #0B0E2D;
        }
        &-time-counter{
            background: none;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 64px;

            text-align: center;

            color: #0B0E2D;
        }
        &-footer{
            width: 100%;
            position: absolute;
            bottom: 0;
            z-index: 101;
        }
        &-btn-record{
            width: 64px;
            height: 64px;
            border-radius: 32px;
            background: #4E94CA;
            border: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            margin: 32px auto;
            user-select: none;
            z-index: 50;
            &:focus{
                outline: none;
            }
            &-ico{
                width: 40px;
                height: 40px;
            }
        }
        &-attach-btn, &-delete-record{
            width: 290px;
            height: 48px;
            background: #4E94CA;
            border-radius: 8px;
            outline: none;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-style: normal;
            box-sizing: border-box;

            font-weight: 500;
            font-size: 13px;
            line-height: 20px;

            display: flex;
            align-items: center;
            text-align: center;
            border: 0;
            margin: 0 auto 16px;
            padding: 0;

            color: #FFFFFF;
            &:focus{
                outline: none;
            }
        }
        &-delete-record{
            background: #fff;
            border: 2px solid #E3E7F1;

            color: #0B0E2D;
        }
    }
}

.rating-area:not(:checked) > label {
    color: lightgrey;
}

.rating-area > input:checked ~ label {
    color: gold;
}

.rating-area:not(:checked) > input {
    display: none;
}